@model MVC_Challenge.UserAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccountPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccountPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserAccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
